/* Set the width of the main content area */
.wy-nav-content {
 max-width: 1100px !important;
}

/* Set the background color of the side navigation */
.wy-side-nav-search, .wy-nav-top {
 background: #9FDEFD;
}

/* Set the background color of the side navigation */
.wy-nav-side {
 background: #585858;
}

/* Set image margins */
/* Add 10px margin all around a image*/
.img-margin-1 {
 margin: 10px !important;
}
/* Add 20px margin all around a image */
.img-margin-2 {
    margin: 20px !important;
   }
/* Add 20px margin to the bottom of a image */
.img-margin-2b {
    margin-bottom: 20px !important;
   }
